* {margin: 0;padding: 0;}
@font-face {
    font-family: "font-undangan";
    src: url(font/GreatVibes-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: purple;
    background-size: 100%;
    padding: 4px;
}
body .animate-loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkviolet;
    color: #d9b4ff;
    border: 10px solid #d9b4ff;
    scale: 0;
    font-size: 30px;
    border-radius: 100%;
    z-index: 1;
    width: 200px;
    height: 200px;
    animation: loading 3s;
}
@keyframes loading {
    from{scale: 0;}
    to{scale: 100%;}
}
/* SECTION ONE */
body #sectionOne {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darkviolet;
    text-align: center;
    background: linear-gradient(#d9b4ff, #d896ec, #d9b4ff) ;
    border: 3px solid darkviolet;
    bottom: 1000px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px pink;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    animation: scale 1s linear 3s forwards;
}
@keyframes scale {
    from {opacity: 0;filter: blur(10px);bottom: 1000px;}
    to {opacity: 1;filter: blur(0);bottom: 0;}
}
body #sectionOne .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 10px 10px black;
    border-left: 4px solid rgba(128, 0, 128, 0.452);
    border-right: 4px solid purple;
    border-radius: 20%;
    height: 90vh;
    width: 90%;
}
body #sectionOne img:nth-child(1) {
    position: absolute;
    scale: 0;
    z-index: 1;
    transform: rotate(74deg);
    top: -60px;
    left: -30px;
    width: 200px;
    animation: transform1 1s linear 4s forwards;
}
@keyframes transform1 {
    from {top: -100px;left: -200px;}
    to {top: -60;left: -30px;scale: 100%;}
}
body #sectionOne img:nth-child(2) {
    position: absolute;
    scale: 0;
    z-index: 1;
    bottom: -10px;
    margin-bottom: -50px;
    right: -27px;
    transform: rotate(260deg);
    width: 200px;
    animation: transform2 1s linear 4s forwards;
}
@keyframes transform2 {
    from {bottom: -100px;right: -200px;}
    to {bottom: -10px;right: -27px;scale: 100%;}
}
body #sectionOne h4 {
    font-family: "font-undangan";
    font-size: 40px;
    letter-spacing: 2px;
}
body #sectionOne h3 {
    background-color: darkviolet;
    color: #d9b4ff;
    letter-spacing: 4px;
    padding: 10px 30px 10px 30px;
    font-size: 20px;
}
body #sectionOne h3:nth-child(4) {
    position: absolute;
    top: 50px;
    right: -2000px;
    border-radius: 10px 0 0 10px;
    max-width: 240px;
    animation: fade-rtl 1s linear 4.5s forwards;
}
@keyframes fade-rtl {
    from {right: -400px;}
    to {right: 0;}}
body #sectionOne #openI{
    cursor: pointer;
    position: absolute;
    border-radius: 0 10px 10px 0;
    left: -2000px;
    bottom: 50px;
    animation: fade-ltr 1s linear 4.5s forwards;
}
@keyframes fade-ltr {
    from {left: -400px;}
    to {left: 0;}
}
body #sectionOne #openI:hover {
    box-shadow: 1px 1px 5px darkviolet;
    background-color: whitesmoke;
    border: 1px solid darkviolet;
    color: darkviolet;
}
/* SECTION TWO */
body #sectionTwo {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #d9b4ff;
}
body #sectionTwo h4 {
    font-family: "font-undangan";
    font-size: 40px;
}
body #sectionTwo .couple {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid #d9b4ff;
    box-shadow: 4px 10px 20px black;
    outline: black;
    outline-width: 4px;
    outline-style: solid;
    border-radius: 100px;
    width: 96%;
    max-width: 500px;
    height: 1200px;
}
/* PROFIL PICT */
body #sectionTwo .couple .profilFemale #femalePict,#malePict{
    outline: 4px #d9b4ff solid;
    border: 3px solid black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
/* BOX GALERI */
body #sectionTwo #couple #pictOne, #pictFour{
    box-shadow: 0px 0px 10px pink;
    border: 4px solid #d9b4ff;
    border-radius: 30px;
    width: 100%;
    height: 250px;
}
body #sectionTwo #couple #pictTwo,#pictTree{
    box-shadow: 0px 0px 10px pink;
    border: 4px solid #d9b4ff;
    border-radius: 30px;
    width: 47%;
    height: 290px;
}
/* BOX JADWAL */
body #sectionTwo .boxJadwal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100vh;
    height: 705px;
    width: 96%;
    max-width: 550px;
}
body #sectionTwo .boxJadwal .boxIn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #d9b4ff;
    outline: 3px black solid;
    box-shadow: 0px 0px 40px black;
    border-radius: 100px;
    padding: 10px;
    height: 80vh;
}
body #sectionTwo .boxAkad {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #d9b4ff;
    box-shadow: 0px 0px 10px black;
    border-radius: 90px 90px 0 0;
    width: 100%;
    height: 43%;
}
body #sectionTwo .boxResepsi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #d9b4ff;
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 43%;
    border-radius: 0 0 90px 90px;
}
body #sectionTwo .boxLokasi {
    cursor: pointer;
    background-color: #d9b4ff;
    border: 4px solid #d9b4ff;
    padding: 4px;
    font-size: 20px;
    letter-spacing: 6px;
    animation: boxlokasi 2s linear infinite;
    transition: 1s;
    border-radius: 20px;
}
@keyframes boxlokasi {
    0%  {background-color: purple;}
    50% {background-color: #d9b4ff;}
    100%{background-color: purple;}
}
body #sectionTwo .boxLokasi a {
    color: purple;
    text-decoration: none;
    animation: boxlokasia 1s linear infinite;
}
@keyframes boxlokasia {
    0%  {color: #d9b4ff;}
    50% {color: purple;}
    100%{color: #d9b4ff;}
}
/* BOX TIME */
body #sectionTwo .boxTime {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 700px;
}
.sticky {
    position: fixed;
}
body #sectionTwo .time {
    background-color: #d9b4ff;
    border: 2px solid darkmagenta;
    color: darkviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: black;
    box-shadow: 4px 4px 10px black;
    outline-width: 1px;
    outline-style: solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: circle 1s linear 3s forwards;
}
body #sectionTwo .time:nth-child(1) {
    animation: circle 0.5s linear 0.5s forwards;
    scale: 0;
}
@keyframes circle {
    from{scale: 0;background-color: purple;transform: rotate(360deg);}
    to{scale: 100%;}
}
body #sectionTwo .time:nth-child(2) {
    animation: circle 0.5s linear 1s forwards;
    scale: 0;
}
@keyframes circle {
    from{scale: 0;background-color: purple;transform: rotate(360deg);}
    to{scale: 100%;}
}
body #sectionTwo .time:nth-child(3) {
    animation: circle 0.5s linear 1.5s forwards;
    scale: 0;
}
@keyframes circle {
    from{scale: 0;background-color: purple;transform: rotate(360deg);}
    to{scale: 100%;}
}
body #sectionTwo .time:nth-child(4) {
    animation: circle 0.5s linear 2s forwards;
    scale: 0;
}
@keyframes circle {
    from{scale: 0;background-color: purple;transform: rotate(360deg);}
    to{scale: 100%;}
}
#letsScroll {
    animation: letsScroll 1s linear 3s forwards;
    transform: translateY(0px);
    opacity: 0;
}
@keyframes letsScroll {
    from{opacity: 0;transform: translateY(50px);}
    to{opacity: 1;transform: translateY(0px);}
}
/* ICON */
.fa {
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    margin: 5px 2px;
}
.fa-instagram {
    color: #d9b4ff;
}
.fa-facebook {
    color: #d9b4ff;
}
.fa-twitter {
    color: #d9b4ff;
}
.fa-map-marker {
    color: purple;
    font-size: 22px;
    padding: 0;
    width: 40px;
    animation: iconlokasi 1s linear infinite;
}
@keyframes iconlokasi {
    0%  {color: #d9b4ff;}
    50% {color: purple;}
    100%{color: #d9b4ff;}
}
.onscroll{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.onscroll.active{
    transform: translateY(0);
    opacity: 1;
}
/* BOX BARCODE */
body #sectionTwo .box-barcode {
    z-index: 0;
    display: none;
    background-color: whitesmoke;
    bottom: 150px;
    width: 88%;
    max-width: 450px;
    height: 450px;
    border-radius: 40px;
    animation: boxbarcode 0.4s linear;
}
@keyframes boxbarcode {
    from {transform: translateY(600px);opacity: 0;}
    tp{transform: translateY(0);opacity: 1;}
}
body #sectionTwo .hideBarcode{
    display: block;
    position: fixed;
}
.bhb {
    color: red;
}
/* NAVBAR */
nav {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    bottom: 40px;
    width: 80%;
    max-width: 400px;
}
nav div {
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    background-color: rgb(158, 23, 158);
    width: 220px;
    max-height: 45px;
}
nav div i,i {
    cursor: pointer;
}
/* NAVBAR ICON */
.fa-lightbulb-o, .fa-play-circle, .fa-pause-circle{
    background-color: rgb(158, 23, 158);
    box-shadow: 1px 1px 10px black;
    padding: 4px;
    border-radius: 10px;
    color: purple;
}
.fa-play-circle {
    transition: 0.5s;
}
.fa-pause-circle {
    background-color: #d9b4ff;
    color: purple;
    transition: 0.5s;
}
.fa-home, .fa-location-arrow, .fa-venus-mars, .fa-gift{
    padding: 0;
    color: purple;
}
nav div i .fa-home:hover, .fa-location-arrow:hover, .fa-venus-mars:hover, .fa-gift:hover{
    color: #d9b4ff;
}
/* DARK MODE */
.activeBtn {
    background-color: #d9b4ff;
}
.darkmode {
    background-color: black;
    border: 2px solid #d9b4ff;
    box-shadow: 0px 0px 10px pink;
}
@media only screen and (max-width:500px){
    /* GALER */
    body #sectionTwo #couple #pictOne, #pictFour{
        width: 95%;
    }
    body #sectionTwo #couple #pictTwo,#pictTree{
        height: 200px;
        width: 45%;
    }
}
@media only screen and (max-width:425px){
    body #sectionOne h3:nth-child(4){
        width: 160px;
        letter-spacing: 0;
    }
}
@media only screen and (max-width:450px){
    body #sectionOne #openI{
        width: 180px;
        letter-spacing: 0;
        font-size: 19px;
    }
    /* BOX TAMPILAN UTAMA */
    body #sectionOne h4 {
        font-family: "font-undangan";
        font-size: 35px;
        letter-spacing: 2px;
    }
    /* BOX TIME */
    body #sectionTwo .time{
        width: 90px;
        height: 90px;
    }
    /* GALER */
    body #sectionTwo #couple #pictOne, #pictFour{
        width: 90%;
        height: 220px;
    }
    body #sectionTwo #couple #pictTwo,#pictTree{
        width: 43%;
        height: 200px;
    }
}
@media only screen and (max-width:400px){
    body #sectionOne h3:nth-child(4) {
        width: 130px;
        font-size: 16px;
        letter-spacing: 0;
    }
    body #sectionOne #openI{
        width: 150px;
        letter-spacing: 0;
        font-size: 16px;
    }
    .box-gues h2 {
        font-size: 20px;
    }
    /* BOX TAMPILAN UTAMA */
    body #sectionOne h4 {
        font-family: "font-undangan";
        font-size: 30px;
        letter-spacing: 2px;
    }
    /* BOX TIME */
    body #sectionTwo .time{
        width: 80px;
        height: 80px;
    }
    body #sectionTwo .box-barcode {height: 400px;}
}
@media only screen and (max-width:350px){
    /* BOX TIME */
    body #sectionTwo .time{
        width: 70px;
        height: 70px;
    }
    body #sectionOne h4 {
        font-size: 26px;
    }
    .box-gues h2 {
        font-size: 16px;
    }
    @keyframes transform1 {
        from {top: -100px;left: -200px;}
        to {top: -80px;left: -60px;scale: 100%;}
    }
    @keyframes transform2 {
        from {bottom: -100px;right: -200px;}
        to {bottom: -50px;right: -50px;scale: 100%;}
    }
    body #sectionTwo .box-barcode {height: 350px;}
}

@media only screen and (max-width:320px){
    body #sectionOne #openI {
        width: 110px;
        font-size: 12px;
    }
    body #sectionOne h3:nth-child(4){
        font-size: 12px;
        width: 110px;
    }
    body .animate-loading {
        width: 150px;
        height: 150px;
    }
    body #sectionTwo .box-barcode {height: 300px;}
}
